<?xml version="1.0"?>

<launch>

	<!--robot platform-->

	<!--relayboard V2-->
	<include file="$(find neo_mm_400)/configs/relayboard_v2/relayboard_v2.launch"/>

	<!--kinematics-->
	<include file="$(find neo_mm_400)/configs/kinematics/kinematics.launch"/>

	<!--sensors-->

	<!--LiDAR-->
	<include file="$(find neo_mm_400)/configs/lidar/lidar.launch"/>

	<!--neobotix basic joystick node-->
    <include file="$(find neo_mm_400)/configs/teleop/teleop.launch"/>

	<!--robot model-->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find neo_mm_400)/robot_model/mm_400.urdf.xacro'" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
		<param name="use_gui" value="false" />
	</node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />	

</launch>
